theme = catppuccin-mocha

{{ if eq .chezmoi.os "darwin" }}
command = "zsh -c nu"
{{ else }}
command = "nu"
{{ end }}

font-family = "FiraCode Nerd Font Mono"

{{ if eq .chezmoi.os "darwin" }}
font-size = 14
{{ else }}
font-size = 12
{{ end }}

# window sizing and decorations
window-decoration = "none"
macos-titlebar-style = hidden
fullscreen = false
window-height = 9999 
window-width = 9999 
# these values get clamped to screen size

# tmux-like keybinds
keybind = ctrl+h=goto_split:left
keybind = ctrl+j=goto_split:bottom
keybind = ctrl+k=goto_split:top
keybind = ctrl+l=goto_split:right

keybind = ctrl+shift+h=resize_split:left,32
keybind = ctrl+shift+j=resize_split:down,32
keybind = ctrl+shift+k=resize_split:up,32
keybind = ctrl+shift+l=resize_split:right,32

keybind = ctrl+a>-=new_split:down
keybind = ctrl+a>\=new_split:right
keybind = ctrl+a>f=toggle_split_zoom
keybind = ctrl+a>x=close_surface

keybind = ctrl+a>n=next_tab
keybind = ctrl+a>p=previous_tab

keybind = super+r=reload_config

window-save-state = always 
